<html>
    <head>
        <title>Promise fun</title>
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	    <script type="text/javascript" src="../scripts/app.js"></script>
	    <script type="text/javascript" src="../scripts/controllers/controller.js"></script>
	    <script type="text/javascript" src="../scripts/controllers/PostController.js"></script>
	    <script type="text/javascript" src="../scripts/controllers/ListController.js"></script>
	    <script type="text/javascript" src="../scripts/services/messages.js"></script>
	    <script type="text/javascript" src="../scripts/services/getData.js"></script>
    </head>
    <body ng-app="app">
    </body>
</html>